*{
    padding:0px;
    margin-top:5px;
}

.container{
    display:grid;
    grid-template-areas:
    'head head head head' 
    'left middle middle right'
    'last last last last';
}

.head{
    grid-area:head;
    height:60px;
    border-left:10px solid rgb(255, 0, 255);
    background-color: rgb(242, 162, 242);
    box-sizing:border-box;
    padding:9px 0px 0px 4px;
}

.options{
    grid-area:left;
    border:1px solid black;
    width:18%;
    
}

.paragraph{
    grid-area:middle;
    border:1px solid black;
    width:50%
}

.box{
    grid-area:right;
    border:1px solid black;
    width:28%;
}

.foot{
    grid-area:last;
    border:1px solid black;
}