*{
    margin:0px;
    padding:0px;
}

.grid{
    /* display:flex;
    justify-content: center;
    align-items:center; */
    display: grid;
    grid-template-columns: repeat(3,280px);
    justify-content: center;
    align-items:center;
    grid-gap:15px;
    height:100vh;
    width:100vw;
}

img{
    width:270px;
    height:220px;
}